/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700|Righteous|Megrim'); */

/*
COLORS BEING USED
#7FB2FA - BLUE
#86C9F5 - LIGHT BLUE
#FF7140 - LIGHT RED
#022F40 - Prussian Blue
#F5F5F5 - Cultured (White)

*/

/*********************
    UTILITIES
**********************/
.margin--bottom {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

/*********************
    MOBILE FIRST DESIGN
**********************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

h1 {
  font-size: 2.9rem;
}

.container {
  padding: 3rem;
}

.hero {
  min-height: 75vh;
  max-height: 100vh;
  background-color: #022f40;
  color: #f5f5f5;
}

.hero__socialIcons {
  margin-bottom: 4rem;
  text-align: center;
  
}

.hero__socialIcons i {
    color: #f5f5f5;
}

.hero__profile {

}

.hero__profilePicture {
  border-radius: 50%;
  max-width: 75%;
  margin: auto;
  border: 3px solid white;
}

.skills h2 {
  text-align: center;
}

.skills__icons {
  text-align: center;
}

.skills__icons > * {
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  margin-top: -15px;
  margin-bottom: 15px;
  font-weight: 300;
}

footer {
  background: #022f40;
  color: #f5f5f5;
  text-decoration: none;
}

.footer__socialLinks i {
    color: #f5f5f5;
}