@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:300,400,500,700');

body{
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

header{
  height: 85vh;
  background-image: url(../images/pattern.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Permanent Marker', cursive;
}

header h5{
  font-family: 'Roboto', sans-serif;
}

.contact-card{
  text-align: center;
  padding: 1.5rem;
}

.contact-card .fa-linkedin-square{
  margin: 1rem 2rem;
}

.text-card{
  text-align: center;
  color: #333;
  padding-top: calc(40% - 3rem);
}

.text-card h1{
  letter-spacing: .5rem;
}

section{
  margin-top: 15%;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: url(../images/profilePic.jpg) center right/cover;
    box-shadow: 0 2px 6px -2px #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

footer{
  height: 150vh;
  text-align: center;
  background-image: url(../images/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 10%;
  position: relative;
}

.card{
  background-color: #fff;
  box-shadow: 0 2px 3px -4px #000;
  width: 75%;
  margin: auto;
  padding: 15px;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  max-height: calc(80vh - 70px);
  border-radius: 5px;
}

#skills{
  text-align: center;
}

#contact-info{
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
}
