/*NAVBAR STYLING*/

.navbar{
  height: 50px;
  padding: 0;
}

.nav-menu{
  display: block;
  text-align: center;
}

.nav-menu ul{
  padding: 0;
  padding-top: 5px;
}

.nav-menu li{
  display: inline-block;
  margin: 10px;
}

.nav-menu li:first-child{
  margin-left: 0;
}

.nav-menu li:last-child{
  margin-right: 0;
}

.nav-menu .fa-code{
  margin: 10px;
}

.nav-menu a{
  color: #333;
  font-size: .654rem;
}

/*END NAVBAR STYLING*/


/*BILLBOARD*/

.billboard{
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  top: 50px;
}

.billboard h1{
  font-size: 2.3rem;
  font-weight: 500;
  padding-top: 35%;
  padding-bottom: 0;
}

.tagline{
  font-size: 1.5rem;
  margin-top: 10px;
}

.social-wrapper{
  font-size: 2.5rem;
}

.social-wrapper .fa-linkedin-square{
  margin: 0 38px;
}

/*END BILLBOARD STYLING*/

/*PROFILE PICTURE STYLING*/

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #778360;
  position: absolute;
  left: 35%;
  background: url(../images/profile.jpg) center center/cover;
  box-shadow: 0 2px 6px -2px black;
}
